@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap'); 
body{
    background-color:lightskyblue;
    font-family: 'poppins',sans-serif;

}
.home,.users{
    text-decoration: none !important;
    font-weight: 700;
    font-size: 20px;
    color:rgb(55, 87, 231);

}
.home:hover,.users:hover{
color:rgb(234, 240, 150);
text-shadow: red ;

} 
.card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition:0.2s all ease-in-out ;
    background-color:white;
}
.card:hover{
    transform:scale(1.01);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.num{
    background-color:#112A46;
    width:100%;
   
}
.navbar-brand{
    
    font-weight: 600 !important;
    color:whitesmoke;
    
}
@media screen and (min-width:768px){
    .userWidth{
        width:30rem;
    }
}